
<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    B&K Restoran
                                </h1>
                                <p>
                                    İstanbul Levent'te yer alan B&K Restoran, size benzersiz bir yemek deneyimi sunuyor. Modern dekoru ve eşsiz lezzetleriyle, misafirlerimize unutulmaz anlar yaşatıyoruz. Eşsiz bir tat deneyimi için sizleri bekliyoruz.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Rezervasyon Yap
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    B&K Restoran
                                </h1>
                                <p>
                                    İstanbul Levent'te bulunan B&K Restoran, gastronomi tutkunlarına sofistike bir lezzet yolculuğu sunuyor. Şık atmosferimiz ve özenle hazırlanan menümüzle, her ziyarette unutulmaz bir deneyim yaşatmayı hedefliyoruz.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Rezervasyon Yap
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    B&K Restoran
                                </h1>
                                <p>
                                    Levent'in en prestijli restoranlarından biri olan B&K Restoran, sizi lezzet ve zarafetin buluştuğu bir dünyaya davet ediyor. Kusursuz hizmetimiz ve özenle hazırlanan yemeklerimizle, her anınızı özel kılıyoruz.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Rezervasyon Yap
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <ol class="carousel-indicators">
                <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#customCarousel1" data-slide-to="1"></li>
                <li data-target="#customCarousel1" data-slide-to="2"></li>
            </ol>
        </div>
    </div>
</section>
</div>