<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>İletişim</h4>
                    <div class="contact_link_box">
                        <a href="https://www.google.com/maps?q=B%26K+Restoran,+Istanbul+Levent" target="_blank">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>İstanbul, Levent</span>
                        </a>
                        <a href="tel:+905555555555">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>0555 555 55 55</span>
                        </a>
                        <a href="mailto:info@bkrestoran.com">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>info@bkrestoran.com</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="#" class="footer-logo">B&K Restoran</a>
                    <p>
                        İstanbul'un en iyi restoranlarından biri olarak, size unutulmaz bir yemek deneyimi sunuyoruz. Güler yüzlü
                        hizmetimiz ve lezzetli menümüzle sizleri restoranımızda ağırlamaktan mutluluk duyarız.
                    </p>
                    <div class="footer_social">
                        <a href="https://www.facebook.com/BKRestoran" target="_blank">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://twitter.com/BKRestoran" target="_blank">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/bk-restoran" target="_blank">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.instagram.com/bkrestoran" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.pinterest.com/BKRestoran" target="_blank">
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>Çalışma Saatleri</h4>
                <p>Her Gün</p>
                <p>10:00 - 00:00</p>
            </div>
        </div>
        <div class="footer-info">
            <p>
                &copy; <span id="displayYear"></span> Tüm Hakları Saklıdır
                <a href="https://html.design/"></a><br><br>
                &copy; <span id="displayYear"></span> 
                <a href="https://themewagon.com/" target="_blank"> Berkan KARA</a>
            </p>
        </div>
    </div>
</footer>
